$font-stack: monospace, sans-serif;
$primary-color: #9196c7; 
$secondary-color: #ebebeb;
$thrid-color: #0d5624;
$text-color: darken($thrid-color, 50%);
$primary-dark: #0F0F0F;
$secondary-dark: #232D3F; 
$third-dark: #018a63;
$text-dark: lighten($third-dark, 80%);
