$font-stack: monospace, sans-serif;
$primary-color: #2d9fb6; 
$secondary-color: #f0dbb5;
$thrid-color: #E8AA42;
$text-color: darken($thrid-color, 50%);
$primary-dark: #0F0F0F;
$secondary-dark: #232D3F; 
$third-dark: #018a63;
$text-dark: lighten($third-dark, 80%);
